/*font load*/
@import url(http://fonts.googleapis.com/css?family=Coustard);
@import url(http://fonts.googleapis.com/css?family=Raleway:400);
/*all content*/
.alldivs{position:relative;width:100%;margin:0 auto}
body{margin:0;color:#294f5e;background-color:#acdcee;font-size:15px;font-family: 'Coustard', serif;}
a,img{border:none;text-decoration:none;color:#294f5e;padding:0;margin:0;}
.center_align{position:relative;max-width:1200px;z-index:5;margin:0 auto}
.box_shadows{-moz-box-shadow:0 2px 2px #333;-webkit-box-shadow:0 2px 2px #333;box-shadow:0 2px 2px #333;}
.box_shadows_small{-moz-box-shadow:2px 2px 2px #555;-webkit-box-shadow:2px 2px 2px #555;box-shadow:2px 2px 2px #555;}
.box_shadows_picture{-moz-box-shadow:2px 2px 2px #777;-webkit-box-shadow:2px 2px 2px #777;box-shadow:2px 2px 2px #777;}
.box_shadows_normal{-moz-box-shadow:2px 2px 2px #444;-webkit-box-shadow:2px 2px 2px #444;box-shadow:2px 2px 2px #444;}
.text_shadow{text-shadow:1px 1px 1px #000}
.all_text{padding:15px;}
/*header*/
.header{position:relative;width:100%;height:100px;background-color:#294f5e;z-index:2;}
.header_container{position:relative;width:100%;height:100%;}
.header_logo{position:relative;float:left;width:100px;height:100px;}
.header_text{position:relative;float:left;top:12px;width:200px;font-size:30px;line-height:38px;text-align:center;font-family: 'Raleway', sans-serif;color:#FFF;}
.header_text_large{font-size:38px;}
.header_spacer{position:relative;float:left;width:25px;height:100px;}
.header_bsac{position:relative;float:left;width:200px;height:100px}
.header_bsac_pic{position:relative;width:152px;height:50px;top:25px;}
.header_social{position:relative;float:left;width:650px;height:100px}
.header_social_buttons_container{position:relative;top:25px;}
.header_social_buttons{position:relative;float:left;width:50px;height:50px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;overflow:hidden;}
.header_social_button_sapcer{position:relative;float:left;width:5px;height:50px;}
/*footer*/
.footer{position:relative;width:100%;height:40px;z-index:0;}
.footer_text{position:relative;text-align:center;top:10px;}
.footer_text_small{font-size:13px;}
/*main content*/
.main_content{position:relative;width:100%;height:100%;z-index:1;}
.main_content_background{position:absolute;width:100%;height:100%;background-color:#30a5d4;}
.main_content_background_filter{position:absolute;width:100%;height:100%;background-image:url(images/Map.jpg);background-repeat:repeat;opacity:0.3;filter:alpha(opacity=30);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);z-index:0;}
.main_carousel{position:relative;}
.carousel_container{position:relative;width:1200px;height:875px;}
.carousel{position:relative;width:100%;height:100%;}
.main_containers{position:relative;width:1175px;float:left;height:100%;}
.main_top{position:relative;width:100%;height:400px;}
.main_spacer{position:relative;height:25px;width:100%;}
.main_bottom{position:relative;width:100%;height:400px;}
.main_arrow{position:relative;width:25px;float:left;height:100%;}
.main_arrow_picture{position:relative;top:412px;height:50px;width:25px;}
.main_arrow_picture2{position:relative;visibility:hidden;top:0;height:0;width:0;}
.main_section_containers{position:relative;float:left;width:550px;background-color:#98d2ea;height:100%;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;}
.main_sections_container_spacer{position:relative;float:left;width:25px;height:100%}
	/*main content sections*/
.main_section_spacer_top{position:relative;width:100%;height:20px;}
.main_section_spacer_left{position:relative;float:left;width:20px;height:400px;}
.main_section_right{position:relative;float:left;width:242px;height:360px;}
.main_section_left{position:relative;float:left;width:267px;height:360px;}
.main_section_text_head{font-size:26px;}
.main_section_text{font-size:16px;padding-right:0;}
.main_section_picture{position:relative;width:242px;height:300px;}
.main_section_expand{position:relative;width:100%;height:65px;}
.main_expand_button{position:relative;float:right;width:30px;height:30px;top:30px;}
.reduce_top{top:10px;}
	/*Expand sections*/
.expand_containers{position:relative;width:100%;height:875px;}
.expand_container{position:relative;width:1150px;height:100%;left:25px;}
.expand_encasulation{position:relative;width:100%;height:825px;background-color:#98d2ea;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;z-index:0;}
.expand_top{position:relative;width:100%;height:40px;}
.expand_close{position:relative;float:right;top:10px;width:30px;height:30px;padding-right:10px;z-index:1;}
.expand_close2{position:relative;float:right;top:10px;width:30px;height:30px;padding-right:10px;z-index:1;}
.expand_spacer{position:relative;width:100%;height:20px;}
.expand_bottom{position:relative;width:100%;height:695px;}
.expand_slider{position:relative;left:25px;width:1150px;height:300px;}
/*About*/
.about_container{position:relative;width:1150px;left:25px;height:415px;}
.about_container_header{font-size:30px;}
.about_container_text{position:relative;float:left;width:700px;height:100%;font-size:17px;}
.about_container_spacer{position:relative;float:left;width:25px;height:100%;}
.about_container_pic{position:relative;float:left;width:425px;height:100%;}
/*Sponsors*/
.sponsor_container{position:relative;width:510px;height:400px;top:20px;left:20px;}
.sponsor_text{position:relative;width:100%;height:40px;font-size:26px;line-height:40px;}
.sponsor_top{position:relative;width:100%;height:120px;border: 1px solid #333;}
.sponsor_spacer{position:relative;width:100%;height:20px;}
/*contact*/
.contact_top{position:relative;width:100%;height:40px;font-size:30px;line-height:40px;}
.contact_bottom{position:relative;width:100%;height:745px;}
.contact_mail_container{position:relative;float:left;width:366px;height:100%;}
.contact_info_container{position:relative;float:left;width:366px;height:100%;font-size:17px;}
.contact_header{font-size:20px;}
.contact_picture_container{position:relative;float:left;width:366px;height:100%;}
.contact_picture{position:relative;left:33px;width:300px;height:225px;}
.contact_google_spacer{position:relative;width:100%;height:20px;}
.contact_google_map{position:relative;width:300px;height:350px;left:33px;}
.contact_spacer{position:relative;float:left;width:25px;height:100%;}
.Form_box{background-color:#b9e7fa;border:1px solid #7fafc3;height:25px;font-family:header_text;-moz-border-radius: 8px;border-radius: 8px;text-indent:8px;font-size:16px;line-height:16px;max-width:270px;padding:0;margin:0 auto;width:270px;color:#294f5e;}
.Contact_refresh_button{position:absolute;left:112px;top:0;width:30px;height:30px;background-image:url(images/refresh_button.png);z-index:2;}
/* ACLC 4/8/14: Added link styles for FAQ */
#FAQ a{color: red;}
#FAQ a:hover{text-decoration:underline;}
#FAQ .expand_container{height:100%;overflow:auto;}
/*Comity*/
.comity_container{position:relative;width:510px;height:400px;left:20px;}
.comity_top{position:relative;width:100%;height:290px;overflow:hidden;}
.comity_btm{position:relative;width:100%;height:50px;}
.comity_picture{position:relative;float:left;height:100%;width:245px;}
.comity_spacer{position:relative;float:left;width:20px;height:290px;}
/*Comity expanded */
.comity_expand_sections{position:relative;float:left;width:210px;height:350px;}
.comity_expand_spacer{position:relative;float:left;width:20px;height:350px;}
.comity_expand_picture{position:relative;width:210px;height:249px;}
.comity_expand_text{position:relative;font-size:20px;text-align:center;}
.comity_expand_small{font-size:15px;}
/*Schedule*/
.google_schedule{position:relative;width:100%;height:100%}
/*Sprites*/
.Ssocial {display:block; float:left; position:relative; overflow:hidden; max-width:50px; z-index:3;}
.Ssocial .spacer {width: 100%; height: auto;}
.Ssocial .sprite {position:absolute; top:0; left:0; max-width:none;}
.Ssocial .sprite.s2 {left:-100%;}
.Ssocial .sprite.s3 {left:-200%;}
.Ssocial.no-limit {max-width: 50px;}
.Ssocial.no-limit .sprite {min-height: 100%;}
/*Wordpress specific*/
li {list-style: none;padding:0;margin:0;}
ul.menu {list-style: none;margin: 0;padding:0;}