/*all content*/
.center_align{position:relative;max-width:320px;z-index:5;margin:0 auto}
/*header*/
.header{height:70px;}
.header_logo{width:70px;height:70px;}
.header_text{top:5px;width:110px;font-size:15px;line-height:30px;}
.header_text_large{font-size:20px;}
.header_spacer{width:0;height:0;}
.header_bsac{width:0;height:0}
.header_bsac_pic{width:0;height:0;top:0}
.header_social{width:140px;height:70px}
.header_social_buttons_container{top:15px;}
.header_social_buttons{width:40px;height:40px;}
.header_social_button_sapcer{width:5px;height:50px;}
/*footer*/
.footer{height:40px;}
.footer_text{top:10px;}
.footer_text_small{font-size:13px;}
/*main content*/
.main_content{z-index:1;}
.main_containers{width:280px;height:310px;}
.carousel_container{position:relative;width:300px;height:2330px;}
.main_top{height:1150px;}
.main_spacer{height:10px}
.main_bottom{height:1150px;}
.main_arrow{width:20px}
.main_arrow_picture{top:299px;height:40px;width:20px;}
.main_arrow_picture2{visibility:visible;top:650px;height:40px;width:20px;}
.main_section_containers{width:280px;height:570px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.main_sections_container_spacer{width:100%;height:10px;}
.main_section_no_spacer{width:0;}
	/*main content sections*/
.main_section_spacer_top{height:10px;}
.main_section_spacer_left{width:10px;height:290px;}
.main_section_right{width:260px;height:359px;}
.main_section_left{width:260px;height:100%;padding-bottom:10px;}
.main_section_text_head{font-size:20px;}
.main_section_text{font-size:14px;padding-right:5px;}
.main_section_picture{height:260px;}
.main_section_expand{height:65px;}
.main_expand_button{width:30px;height:30px;top:5px;}
.reduce_top{top:10px;}
	/*Expand sections*/
.expand_containers{height:720px;}
.expand_container{width:300px;left:10px;}
.expand_encasulation{height:700px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.expand_top{height:40px;}
.expand_spacer{height:20px;}
.expand_bottom{height:640px;}
.expand_slider{left:10px;width:300px;height:78px;}
/*About*/
.about_container{width:300px;left:10px;height:321px;}
.about_container_header{font-size:20px;}
.about_container_text{width:300px;height:100%;font-size:14px;}
.about_container_spacer{float:left;width:20px;}
.about_container_pic{position:absolute;width:0;height:0;float:none;background-color:#333;}
/*Sponsors*/
.sponsor_container{width:260px;height:290px;top:10px;left:10px;}
.sponsor_text{height:25px;font-size:20px;line-height:25px;}
.sponsor_top{height:93px;}
.sponsor_spacer{height:20px;}
/*contact*/
.contact_top{height:20px;font-size:18px;line-height:20px;}
.contact_bottom{height:640px;}
.contact_mail_container{width:300px;height:400px;left:10px;}
.contact_info_container{width:300px;font-size:15px;height:300px;}
.contact_header{font-size:18px;}
.contact_picture_container{width:220px;height:500px;}
.contact_picture{left:0;width:220px;height:165px;}
.contact_google_spacer{height:10px;}
.contact_google_map{width:220px;height:300px;left:0;overflow:hidden;}
.contact_spacer{width:0;height:0;}
.contact_small{position:relative;float:none;width:300px;height:100%;left:10px;}
.contact_container_small{height:1360px;}
.contact_container_small_expanded{height:1380px;}
/*Comity*/
.comity_container{width:260px;height:290px;left:10px;}
.comity_top{height:450px;}
.comity_btm{height:50px;}
.comity_picture{width:183px;left:0px;height:225px;left:38px}
.comity_spacer{width:0;height:235px;}
/*Comity expanded */
.comity_expand_container{height:3650px;}
.comity_expand_encapsulation{height:3620px;}
.comity_expand_sections{width:210px;height:350px;left:45px;}
.comity_expand_spacer{width:10px;height:350px;}
.comity_expand_picture{width:210px;height:250px;}
.comity_expand_text{font-size:18px;}
.comity_expand_small{font-size:14px;}
/*Schedule*/
.google_schedule{position:relative;width:100%;height:100%}
/*Sprites*/
.Ssocial .sprite {max-height:40px;}